{% extends "layout.html" %}

{% block title %}About Us{% endblock %}

{% block content %}
    <div class="about-section" style="background-color: rgb(144, 247, 233);">
        <h1>About Helping Hand</h1>
        <p>Helping Hand is a nonprofit organization dedicated to supporting college students and parents during medical emergencies. We believe that no one should have to choose between their education and their health. Our mission is to provide financial assistance and resources to those in need, ensuring that unexpected medical expenses don’t derail the future of our beneficiaries.</p>
    </div>
{% endblock %}
